/*********************************************************************************
* WEB422 – Assignment 3
* I declare that this assignment is my own work in accordance with Seneca Academic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Name: Yuki Waka         Student ID: 141082180     Date: June 28,2020
*
********************************************************************************/
span.navbar-brand:hover{
  cursor: pointer;
}
body {background-color: #FFE4E1;}

table{
  background-color: #F8F8FF;
}
